$black: #000000;
$white: #ffffff;
$grey: #F4F6F7;

//Brand Colors
$primary_green: #d4fde6;
$primary_blue: #6559fb;
$primary_pink: #ffcbc9;

// TEXT COLOURS
$heading-primary: $primary_blue;
$heading-secondary: $black;
$main-body: $black;

// GLOBALS
$small-breakpoint-width: 480px;
$medium-breakpoint-width: 768px;
$large-breakpoint-width: 1000px;
$extra-large-breakpoint-width: 1200px;
